@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Manrope:wght@200..800&display=swap');
:root {
    --branco: #FFFFFF;
    --fundo:  #D9C3A4;
    --preto:  #000000;
    --verde : #359043;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
}

button {
    cursor: pointer;
    font-family: "Jersey 10", sans-serif;
}

a, p, h1, h2 {
    font-family: "Jersey 10", sans-serif;
    text-decoration: none;
    color: var(--preto);
}

body {
    background-color: var(--fundo);
    font-family: "Jersey 10", sans-serif;
}

body,
input,
textarea,
select,
button {
    font-family: "Jersey 10", sans-serif;
    font: 400 1rem sans-serif;
}